<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a new post</h3>
    <form method="post" action="/listings">
        <input nmae="title" placeholder="enter title" type="text">
        <br><br>
         <textarea nmae="Description" placeholder="enter Description"></textarea>
        <br><br>
         <input nmae="image" placeholder="enter image url" type="text">
        <br><br>
         <input nmae="price" placeholder="enter price" type="number" >
        <br><br>
         <input nmae="location" placeholder="enter location" type="text">
        <br><br>
         <input nmae="country" placeholder="enter country" type="text">
        <br> 

    </form>
</body>
</html>